<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<html class="no-js" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}COMPARED | Le comparateur de smartphone français {% endblock %}</title>
    <meta name="description" content="Un comparateur de smarphone français novateur "/>
    <meta name="keywords"
          content="compared, comparateur de smartphone, moteur de comparaison , smartphone , mobile , téléphonie , téléphone , android , iOS , Windows , comparateur"/>
    <meta name="author" content="RAFINA DANY"/>
    <!-- Bootstrap -->
    <script src="PUBLIC/JS/modernizr.custom.js"></script>
    <script src="PUBLIC/JS/modernizr.custom.25376.js"></script>
    <link href="PUBLIC/css/bootstrap.min.css" rel="stylesheet">
    <link href="PUBLIC/css/jquery.fancybox.css" rel="stylesheet">
    <link href="PUBLIC/css/flickity.css" rel="stylesheet">
    <link href="PUBLIC/css/animate.css" rel="stylesheet">
    <link href="PUBLIC/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='PUBLIC/css/font_g.css' rel='stylesheet' type='text/css'>
    <link href="PUBLIC/css/styles.css" rel="stylesheet">
    <link href="PUBLIC/css/queries.css" rel="stylesheet">
    <link rel="stylesheet" href="PUBLIC/css/circle.css">
    <link rel="stylesheet" href="PUBLIC/css/style_phone.css">
    <link rel="stylesheet" href="PUBLIC/css/style_dev.css">
    <link rel="stylesheet" href="PUBLIC/css/template.css">
    <link href="PUBLIC/css/simple-sidebar.css" rel="stylesheet">
    <link href="PUBLIC/css/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="PUBLIC/SID_CSS/normalize.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/SID_CSS/demo.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/SID_CSS/icons.css" />
    <link rel="stylesheet" type="text/css" href="PUBLIC/SID_CSS/component.css" />
    <script src="PUBLIC/JS/modernizr.custom.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <script type="text/javascript" src="PUBLIC/JS/jquery.js"></script>
    <script type="text/javascript" src="PUBLIC/JS/startCompared.js"></script>
    <script type="text/javascript" src="PUBLIC/JS/ListeEtoile.js"></script>
    <script type="text/javascript" src="PUBLIC/JS/callComparatorService.js"></script>

    <!---- DIAGRAM --->

    <!--<link href="PUBLIC/css/default.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold" rel="stylesheet" type="text/css" />
    <script src="PUBLIC/JS/jquery.js" type="text/javascript"></script>
    <script src="PUBLIC/JS/raphael.js" type="text/javascript"></script>
    <script src="PUBLIC/JS/init.js" type="text/javascript"></script>
    <!---- END DIAGRAM --->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="st-container" class="st-container">
    {% block sidebar_menu %}
    <nav class="st-menu st-effect-11" id="menu-11">
        <h2> <i class="fa fa-info"></i> Menu</h2>

        <ul>
            <li><a class="icon icon-data" href="Wui.php?run=getHomePage&argument=void">Accueil</a></li>
            <li><a class="icon icon-data" href="Wui.php?run=prepareComparison&argument=void">Faire une comparaison</a></li>
            <li><a class="icon icon-location" href="Wui.php?run=getHomePage&argument=void#manufacturer">Constructeurs</a></li>
            <li><a class="icon icon-study" href="Wui.php?run=getHomePage&argument=void#bestSm">Meilleur smartphone</a></li>
            <li><a class="icon icon-photo" href="Wui.php?run=getHomePage&argument=void#articles">Articles</a></li>
            <li><a class="icon icon-wallet" href="Wui.php?run=getTeam&argument=void">&Eacute;quipe</a></li>
            <li><a class="icon icon-wallet callContact" href="#">Contact</a></li>
        </ul>
    </nav>



    <!-- content push wrapper -->
    <div class="st-pusher">
        <!--
            example menus
            these menus will be under the push wrapper
        -->
        <nav class="st-menu st-effect-3" id="menu-3">
            <h2 class="icon icon-lab">Sidebar</h2>
            <ul>
                <li><a class="icon icon-data" href="#">Data Management</a></li>
                <li><a class="icon icon-location" href="#">Location</a></li>
                <li><a class="icon icon-study" href="#">Study</a></li>
                <li><a class="icon icon-photo" href="#">Collections</a></li>
                <li><a class="icon icon-wallet" href="#">Credits</a></li>
            </ul>
        </nav>

        <nav class="st-menu st-effect-6" id="menu-6">
            <h2 class="icon icon-stack">Sidebar</h2>
            <ul>
                <li><a class="icon icon-data" href="#">Data Management</a></li>
                <li><a class="icon icon-location" href="#">Location</a></li>
                <li><a class="icon icon-study" href="#">Study</a></li>
                <li><a class="icon icon-photo" href="#">Collections</a></li>
                <li><a class="icon icon-wallet" href="#">Credits</a></li>
            </ul>
        </nav>

        <nav class="st-menu st-effect-7" id="menu-7">
            <h2 class="icon icon-lab">Sidebar</h2>
            <ul>
                <li><a class="icon icon-data" href="#">Data Management</a></li>
                <li><a class="icon icon-location" href="#">Location</a></li>
                <li><a class="icon icon-study" href="#">Study</a></li>
                <li><a class="icon icon-photo" href="#">Collections</a></li>
                <li><a class="icon icon-wallet" href="#">Credits</a></li>
            </ul>
        </nav>

        <nav class="st-menu st-effect-8" id="menu-8">
            <h2 class="icon icon-stack">Sidebar</h2>
            <ul>
                <li><a class="icon icon-data" href="#">Data Management</a></li>
                <li><a class="icon icon-location" href="#">Location</a></li>
                <li><a class="icon icon-study" href="#">Study</a></li>
                <li><a class="icon icon-photo" href="#">Collections</a></li>
                <li><a class="icon icon-wallet" href="#">Credits</a></li>
            </ul>
        </nav>

        <nav class="st-menu st-effect-14" id="menu-14">
            <h2 class="icon icon-stack">Sidebar</h2>
            <ul>
                <li><a class="icon icon-data" href="#">Data Management</a></li>
                <li><a class="icon icon-location" href="#">Location</a></li>
                <li><a class="icon icon-study" href="#">Study</a></li>
                <li><a class="icon icon-photo" href="#">Collections</a></li>
                <li><a class="icon icon-wallet" href="#">Credits</a></li>
            </ul>
        </nav>

        {% endblock %}
        <div class="st-content"><!-- this is the wrapper for the content -->
            <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                <!-- Top Navigation -->
                <div class="codrops-top clearfix">
                    <!--[if lt IE 7]>
                    <p class="browsehappy">Oups !! Vous utilisez une version <strong>obselète </strong>de votre navigateur. Merci d'utiliser
                        une version évoluée pour utiliser COMPARED.</p>
                    <![endif]-->
                    <div>
                        {% block style %}
                        {% endblock %}


                        {% block navbar_head %}

                        <section class="hero" style="padding-top: 51px;padding-bottom: 0;">
                            <nav class="navbar navbar-default nav-justified navbar-fixed-top" style="border-radius:0;margin: 0">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <div class="navbar-brand">

                                            <a href="Wui.php?run=getHomePage&argument=void">
                                                <img id="logo-compa" class="front face img-logo" src="PUBLIC/IMAGE/logoCompared4.png"
                                                     alt="COMPARED Logo">
                                            </a>

                                        </div>
                                        <ul class="nav navbar-nav pull-right nav-md">
                                            <li id="st-trigger-effects">

                                                <a class="cd-nav-trigger" style="width: 150px;" data-effect="st-effect-11" >
                                                    <span></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            {% endblock %}
                            {% block header %}
                                <ul class="related-posts group" style="margin: 0">
                                    <div class="smallRelated_mod " style="width: 25%">
                                        <div style="background-image:url(PUBLIC/IMAGE/smartphones/{{ lastSm.getPictureSm }}.jpg)"
                                             alt="phSm" title="Smartphpone ">
                                            <a href="Wui.php?run=getSpec&argument={{ lastSm.getIdSm }}">
                                                <h3>Dernier smartphone dans COMPARED : <br>{{ lastSm.getConstructorSm.getName }} {{ lastSm.getFullNameSm }}
                                                </h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#">
                                                <h3>Comparaison récentes :  Lorem Ipsume vs Ipsum vitae olegadro</h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h3>Site of the week:
                                                    Fieldwork</h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h3>Designing a new domain</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="largeRelated ">
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h2>COMPARED <span
                                                            class="font-resize"><em> Un nouveau comparateur de smartphone français.
                                                        </em></span></h2></a>
                                        </div>
                                    </div>
                                    <div class="smallRelated smallRelatedTemplateRight">
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h3>{{ (best['sm']).getConstructorSm.getName }} {{ best['sm'].getFullNameSm }} : le meilleur smartphone du site </h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#">
                                                <h3>5 HTML5 template providers that ever designer needs to know</h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h3>Site of the week:
                                                    Fieldwork</h3></a></div>
                                        <div style="background-image:url(PUBLIC/IMAGE/landscape2.jpg)">
                                            <a href="#"><h3>Designing a new domain</h3>
                                            </a>
                                        </div>
                                    </div>



                                </ul>
                            {% endblock %}
                            {% block silder %}
                            {% endblock %}
                        </section>
                        </header>
                        {% block content %}
                            <section class="video" id="about" style="border-top: 1px black solid">
                                <div class="container">

                                    <!-- <div class="row ">
                                         <div class="col-md-6 project animated fadeInUp">
                                             <h3 style="display: inline" id="counter">0</h3> <i class="fa fa-check-circle resize-fa"></i>
                                             <h4>Comparaisons effectuées </h4>
                                             <p>Vous êtes nombreux à faire des comparaisons </p>
                                         </div>
                                         <div class="col-md-6 project animated fadeInUp">
                                             <h3 style="display: inline" id="counter1">0</h3> <i class="fa fa-check-circle resize-fa"></i>
                                             <h4>Smartphones enregistrés</h4>
                                             <p> Ce nombre ne cesse d'augmenter. Nous espérons atteindre les 500 smartphones </p>
                                         </div>-->


                                    <div class="row ">
                                        <div class="col-md-6  animated fadeInUp text-center">
                                            <div class="rounded-c center-block">
                                                <div class="i-r">
                                                    <p>{{ nbC }}</p>
                                                </div>
                                            </div>
                                            <h4 class="t-c">Comparaisons effectuées </h4>
                                            <p>Vous êtes nombreux à faire des comparaisons </p>
                                        </div>
                                        <div class="col-md-6 animated fadeInUp text-center">
                                            <div class="rounded-c center-block">
                                                <div class="i-r">
                                                    <p>{{ nbS }}</p>
                                                </div>
                                            </div>
                                            <h4 class="t-c">Smartphones enregistrés</h4>
                                            <p> Ce nombre ne cesse d'augmenter. Nous espérons atteindre les 500 smartphones </p>
                                        </div>
                                    </div>
                                </div>
                                <!--</div>

                                   <!-- <div class="row padding-top-desc">
                                        <div class="col-md-12 text-center">
                                            <h1><a href="PUBLIC/VIDEO/video_hero.mp4"
                                                   class="youtube-media"><i class="fa fa-play-circle-o"></i> Présentation de
                                                    COMPARED/SENGINE</a></h1>
                                        </div>
                                    </div>-->

                            </section>
                            <section class="features-intro">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 text-center col-xs-12 nopadding container">
                                            <h1 class="padding-text"><i class="fa fa-mobile-phone"></i> <i class="fa fa-mobile-phone"></i> Les
                                                comparaisons récentes</h1>
                                            <p class="font-resize ">Découvrez les 3 dernières comparaisons effectuées. <i
                                                        class="fa fa-smile"></i></p>
                                        </div>

                                        <ul class="related-posts group center-block" style="margin-bottom: 0px">

                                            <div class="smallRelated_mod smallRelated_last_c" style="margin: 0;width: 100%;height: 375px!important;">
                                                {% set number = 1 %}
                                                {% for oneC in recentC %}
                                                    <div style="background: url('PUBLIC/IMAGE/0{{ number }}-screenshot.jpg');background-size: cover">
                                                        <a href="Wui.php?run=compared&sm1={{ oneC['sm1']['id'] }}&sm2={{ oneC['sm2']['id'] }}">
                                                            <h3 class="resize-text">Comparaison {{ number }}<br>{{ oneC['sm1']['fullName'] }} vs {{ oneC['sm2']['fullName'] }}</h3>
                                                        </a>
                                                    </div>
                                                    {% set number = number + 1 %}
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <section class="features-list" id="bestSm" style="padding-top:20px;">
                                <div class="row">

                                    <div class="col-md-12 text-center lucidaFont " style="padding-top:20px;padding-bottom: 6px;">
                                        <h1 class="padding-text"><i class="fa fa-space-shuttle"></i> Best smartphone</h1>
                                        <p class="font-resize ">Découvrez le smartphone le mieux noté sur le site <i
                                                    class="fa fa-smile-o"></i></p>
                                    </div>


                                    <div class="col-md-12 feature-2 ">


                                        <ul class="related-posts group center-block" style="margin-bottom: 0px">

                                            <div class="smallRelated_mod smallRelated_best" style="margin: 0;width: 100%;height: 380px;">


                                                <div style="background-image:url(PUBLIC/IMAGE/smartphones/{{ best['sm'].getPictureSm }}.jpg)">
                                                    <a href="#"><h3>Le meilleur smartphone du
                                                            moment {{ (best['sm']).getConstructorSm.getName }}</h3></a>
                                                </div>

                                                <div style="background-image:url(PUBLIC/IMAGE/smartphones/{{ best['sm'].getPictureSm }}.jpg)">

                                                    <a href="#">
                                                        <h3>{{ (best['sm']).getConstructorSm.getName }} {{ best['sm'].getFullNameSm }}</h3></a>
                                                </div>


                                            </div>


                                        </ul>
                                        <div class="feature-content backgroud_rgba_silver text-center col-md-12 col-sm-12 col-lg-12"
                                             style="width: 100%">
                                            <h1>{{ (best['sm']).getConstructorSm.getName }} {{ best['sm'].getFullNameSm }}</h1>
                                            <br>
                                            <a href="Wui.php?run=getSpec&argument={{ best['sm'].getIdSm }}" class="read-more-btn">Fiche
                                                technique <i class="fa fa-chevron-circle-right"></i></a>
                                            <a href="#" class="read-more-btn">Comparer le !<i class="fa fa-chevron-circle-right"></i></a>
                                            <h2>Note : {{ best['score'] | round(1, 'floor') }}/5</h2>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="articles" class="showcase">
                                <div class="showcase-wrap" style="padding:30px 0 ;">
                                    <div class="texture-overlay"></div>
                                    <div class="container">
                                        <div class="row news">
                                            <div class="col-md-12 text-center lucidaFont ">
                                                <h1 class="padding-text"><i class="fa fa-space-shuttle"></i> Découvrez notre blog</h1>
                                                <p class="font-resize ">Articles , Dossiers , Tutoriels , chez COMPARED , vous &ecirc;tes
                                                    informés constament <i class="fa fa-smile-o"></i></p>
                                            </div>
                                            <hr class="hr">
                                            <!--<div class="col-md-4  text-center blog grid">
                                                <div class="center-block text-center"
                                                     style="position: relative;top:20px;background-color: rgba(255,255,255,0.5);">
                                                    <div><i class="fa fa-calendar"></i> 8/09/2014</div>
                                                    <div style="margin-right: 2px;"><i class="fa fa-comment">0 </i></div>
                                                </div>

                                                <img class="img-responsive picsGall " src="PUBLIC/IMAGE/picNews/news1.jpg"/>

                                                <div class="center-block text-center"
                                                     style="position: relative;bottom:20px;background-color: rgba(0,255,255,0.6);">Une idée du
                                                    créateur d'Octimum
                                                </div>
                                                        <span id="span_show" class="span_bg_blue span_font ">
                                                            <i class="fa fa-book"></i>
                                                            <a href="#">Lire d'avantage ...</a>
                                                        </span>
                                            </div>

                                            <div class="col-md-4  text-center blog grid">
                                                <div class="center-block text-center"
                                                     style="position: relative;top:20px;background-color: rgba(255,255,255,0.5);">
                                                    <div><i class="fa fa-calendar"></i> 8/09/2014</div>
                                                    <div style="margin-right: 2px;"><i class="fa fa-comment">0 </i></div>
                                                </div>

                                                <img class="img-responsive picsGall " src="PUBLIC/IMAGE/picNews/news1.jpg"/>

                                                <div class="center-block text-center"
                                                     style="position: relative;bottom:20px;background-color: rgba(0,255,255,0.6);">Une idée du
                                                    créateur d'Octimum
                                                </div>
                                                        <span id="span_show" class="span_bg_blue span_font ">
                                                            <i class="fa fa-book"></i>
                                                            <a href="#">Lire d'avantage ...</a>
                                                        </span>
                                            </div>

                                            <div class="col-md-4  text-center blog grid">
                                                <div class="center-block text-center"
                                                     style="position: relative;top:20px;background-color: rgba(255,255,255,0.5);">
                                                    <div><i class="fa fa-calendar"></i> 8/09/2014</div>
                                                    <div style="margin-right: 2px;"><i class="fa fa-comment">0 </i></div>
                                                </div>

                                                <img class="img-responsive picsGall " src="PUBLIC/IMAGE/picNews/news1.jpg"/>

                                                <div class="center-block text-center"
                                                     style="position: relative;bottom:20px;background-color: rgba(0,255,255,0.6);">Une idée du
                                                    créateur d'Octimum
                                                </div>
                                                        <span id="span_show" class="span_bg_blue span_font ">
                                                            <i class="fa fa-book"></i>
                                                            <a href="#">Lire d'avantage ...</a>
                                                        </span>
                                            </div>-->
                                            <div class="col-md-12 feature-2">


                                                <ul class="related-posts group center-block" style="margin-bottom: 0px">

                                                    <div class="smallRelated_mod smallRelated_best" style="margin: 0;width: 100%;height: 380px;">


                                                        <div style="background-image:url(PUBLIC/IMAGE/smartphones/{{ best['sm'].getPictureSm }}.jpg)">
                                                            <a href="#"><h3>Le meilleur
                                                                    smartphone</h3></a>
                                                        </div>

                                                        <div style="background-image:url('PUBLIC/IMAGE/smartphones/{{ best['sm'].getPictureSm }}.jpg')">
                                                            <a href="#">
                                                                <h3>{{ (best['sm']).getConstructorSm.getName }} {{ best['sm'].getFullNameSm }}</h3>
                                                            </a>
                                                        </div>


                                                    </div>


                                                </ul>

                                            </div>
                                            <hr class="hr">
                                            <div class="col-md-12 text-center lucidaFont ">
                                                <h1 class="padding-text link_animate_pulse"><a class="" href="Wui.php?run=getArticles&argument=void"> Voir l'ensemble des articles <i
                                                                class="fa fa-hand-o-left"></i> </a></h1>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>

                            <section class="screenshots" id="manufacturer">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-md-12 text-center lucidaFont ">
                                            <h1 class="padding-text"><i class="fa fa-space-shuttle"></i> Vous cherchez une marque particulière ?
                                            </h1>
                                            <p class="font-resize ">Voici les différentes marques de smartphones qui sont dans notre comparateur
                                                <i class="fa fa-search"></i></p>
                                        </div>
                                        <hr class="hr">
                                        <ul class="grid">
                                            <li>
                                                <figure class="text-center">
                                                    <img src="PUBLIC/IMAGE/constructor/htc.png" alt="HTC">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="PUBLIC/img_dev/large/01.jpg" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>HTC</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="small-constructor-samsung" src="PUBLIC/IMAGE/constructor/samsung.png"
                                                         alt="Samsung">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="Wui.php?run=phoneList&argument=Samsung" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Samsung</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="small-constructor" src="PUBLIC/IMAGE/constructor/sony.png" alt="Sony">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="Wui.php?run=phoneList&argument=sony" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>SONY</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="small-constructor" src="PUBLIC/IMAGE/constructor/meizu.png" alt="Meizu">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="Wui.php?run=phoneList&argument=meizu" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Meizu</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row padding-element">
                                        <ul class="grid">
                                            <li>
                                                <figure class="text-center">
                                                    <img class="resize-big-logo" src="PUBLIC/IMAGE/constructor/apple.png" alt="Screenshot 01">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="Wui.php?run=phoneList&argument=apple" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Apple</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="small-constructor" src="PUBLIC/IMAGE/constructor/microsoft.png"
                                                         alt="Screenshot 01">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="PUBLIC/img_dev/large/06.jpg" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Microsoft</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="resize-big-logo" src="PUBLIC/IMAGE/constructor/xiaomi.png" alt="Screenshot 01">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="PUBLIC/img_dev/large/07.jpg" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Xiaomi</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="text-center">
                                                    <img class="resize-big-logo" src="PUBLIC/IMAGE/constructor/motorola.png"
                                                         alt="Screenshot 01">
                                                    <figcaption>
                                                        <div class="caption-content">
                                                            <a href="PUBLIC/img_dev/large/08.jpg" class="single_image">
                                                                <i class="fa fa-search"></i><br>
                                                                <p>Motorola</p>
                                                            </a>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        {% endblock %}
                        {% block follow %}
                        {% endblock %}

                        <section id="footer" style="border-left: 0">
                            <div class="wrap about">
                                <img class="logo center-block" src="PUBLIC/IMAGE/logoCompared4_white.png" alt="Logo" height="60">
                                <p>COMPARED, The french smartphone comparator!</p>
                                <ul class="row">
                                    <li class="col-md-4 col-sm-12"><a href="#"><i
                                                    class="fa-fb fa fa-facebook-square fa-4x"></i></a><br class="frame"><br>Facebook
                                    </li>
                                    <li class="col-md-4 col-sm-12"><a href="#"><i
                                                    class="fa-tw fa fa-twitter-square fa-4x"></i></a><br class="frame"><br>Twitter
                                    </li>
                                    <li class="col-md-4 col-sm-12"><a href="#"><i
                                                    class=" fa-goo fa fa-google-plus-square fa-4x"></i></a><br class="frame"><br>Google+
                                    </li>

                                </ul>
                            </div>
                            <div class="wrap follow">
                                <p>Application propulsé par SENGINE <em> Moteur de comparaison </em>.</p>
                                <p><a class="onml" href="Wui.php?run=getLegalNotice&argument=void">Mentions Légales</a></p>
                            </div>
                            <small>Copyright {{ ""|date("Y") }} COMPARED. All Rights Reserved.</small>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="PUBLIC/JS/jquery-ui-1.9.2.custom.js"></script>
<script src="PUBLIC/JS/lc_ad.js"></script>
<script src="PUBLIC/JS/bootstrap-switch.min.js"></script>
<script src="PUBLIC/JS/min/toucheffects-min.js"></script>
<script src="PUBLIC/JS/flickity.pkgd.min.js"></script>
<script src="PUBLIC/JS/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="PUBLIC/JS/retina.js"></script>
<script src="PUBLIC/JS/waypoints.min.js"></script>
<script src="PUBLIC/JS/bootstrap.min.js"></script>
<script src="PUBLIC/JS/min/scripts-min.js"></script>
<script src="PUBLIC/JS/myscript.js"></script>
<script src="PUBLIC/JS/main_dev.js"></script>
<script src="PUBLIC/SID_JS/classie.js"></script>
<script src="PUBLIC/SID_JS/sidebarEffects.js"></script>
{% block js %} {% endblock %}
<script type="text/javascript" src="PUBLIC/JS/template.js"></script>
<script src="PUBLIC/JS/lc.js"></script>
{% block contact %}


    <!-- modal contact form -->
    <div id="contact" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header blackColor">
                    <h4 class="modal-title white_font">
                        <i class="fa fa-warning"></i> Remplisez les champs ci-dessous et nous vous recontactons dans les brefs délais.
                    </h4>
                </div>
                <form id="form_help" class="form-group-lg form-modified btn-md" method="POST" action="Wui.php">
                    <div class="modal-body" id="myModalBody">

                        <div class="form-group">
                            <label for="name">Nom</label>
                            <input type="text" id="name" placeholder="Entrez votre nom" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="emailid">Email</label>
                            <input type="text" id="emailid" placeholder="Email"  class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="subject">Objet du message</label>
                            <input type="text" id="subject" placeholder="Objet du message" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" rows="4" placeholder="Message" class="form-control" required="required"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer mfmd">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                        <button type="reset" class="btn btn-danger">Reset </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="contactSuccess" data-backdrop="static" data-keyboard="false" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header blackColor">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title white_font">
                        Status de votre message
                    </h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <span class="animated fadeInDownBig response" id="good" style="color:black!important;"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onClick="location.reload()">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{%endblock%}
{% block modal %}
{% endblock %}
</body>
</html>
