{% extends "viewTemplateWebsite.html.twig" %}
{% block title %}COMPARED | Fiche Technique{% endblock %}
{% block sidebar_menu %}
    <div class="sidebar_compared" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand white-sep">
                <a href="#" class="text-center">
                    <span class="border-white">Menu</span>
                    <span class="border-white-nbg">Actualités</span>
                </a>
            </li>
            <li class="date">
                <p class="new_p">{{ day }}</p>
                <p class="new_p md_p">{{ date_t }}</p>
            </li>
            <li>
                <a href="Wui.php?run=prepareComparison&argument=void"> <i class="fa fa-home fa-2x"></i> <span
                            class="new_font">Accueil</span></a>
            </li>
            <li>
                <a href="Wui.php?run=prepareComparison&argument=void"> <i class="fa fa-mobile fa-2x"></i> <span
                            class="new_font">Faire une comparaison</span></a>
            </li>
            <li>
                <a href="Wui.php?run=getHomePage&argument=void#manufacturer"><i class="fa fa-chain-broken fa-2x"></i> <span
                            class="new_font">Constructeurs</span></a>
            </li>
            <li>
                <a href="Wui.php?run=getHomePage&argument=void#bestSm"><i class="fa fa-mobile-phone fa-2x"></i> <span class="new_font"> Meilleur smartphone</span></a>
            </li>
            <li>
                <a  href="Wui.php?run=getHomePage&argument=void#articles"><i class="fa fa-newspaper-o fa-2x"></i> <span class="new_font">Articles</span></a>
            </li>
            <li>
                <a class="is_menu callContact" href="#"><i class="fa fa-envelope fa-2x"></i> <span
                            class="new_font">Contact</span></a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block style %}
    <style>


        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
           follow these rules. Every browser that supports :checked also supports :not(), so
           it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position: absolute;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
        }

        .rating:not(:checked) > label {
            float: right;
            width: 1em;
            padding: 0 .1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 200%;
            line-height: 1.2;
            color: #ddd;
            text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
        }

        .rating > label:active {
            position: relative;
            top: 2px;
            left: 2px;
        }
    </style>
{% endblock %}
{% block header %}
<ul class="related-posts group" style="margin: 0;">
    <div class="largeRelated">
        <div style="background-image:url(PUBLIC/IMAGE/smartphones/{{ sm.pictureSm }}.jpg)">
            <a href="http://www.webdesignermag.co.uk/site-of-the-week-kikk/" class="bgOp">
                <h2 style="bottom: 170px;width: 100%;background-color: rgba(0,0,0,0.5);">
                    {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }}<br>
                    Référence : {{ sm.codeNameSm }}<br>
                    Date de sortie : {{ sm.releaseDateSm | date('d-m-Y') }}
                     {% if  sm.prixSm != NULL %}
                        <br> Prix : {{ sm.prixSm }}
                        {% endif %}
                    <div class="mark center-block" style="border-radius:50px;width: 50px;height: 50px;padding: 5px">{% if moy != "/" %} {{moy}} {% else %} {{moy}} {%endif%}</div>
                </h2>


            </a>
        </div>
    </div>
    <div class="smallRelated smallRelatedMod">
        <div class="text-center item_carac1" style="background-image:url('PUBLIC/IMAGE/icon/proc.jpg')">
            <a href="#">
                 <div class="carac">
                Processeur
                <p>----</p>
                {{ sm.processor.constructorP }} {{ sm.processor.nameP }} {{ sm.processor.versionP }}
                <div >Fréquence : {{ sm.processor.frequencyP }} Ghz</div>
                <div >Nombre de coeurs : {{ sm.processor.nbOfCoreP }}</div>
                <div >Architecture
                    :{% if sm.processor.archP != 0 %} {{ sm.processor.archP }} bits{% else %} ARM {% endif %}</div>
                     </div>
            </a>
        </div>
        <div class="text-center item_carac1" style="background-image:url('PUBLIC/IMAGE/icon/sm.jpg')">
            <a href="#">
                 <div  class="carac">
                    &Eacute;cran
                    <p>----</p>
                   {{ sm.screen.typeS }}
                            <div >Taille : {{ sm.screen.sizeS }} pouces</div>
                            <div > Densité : {{ sm.screen.sizeS }} </div>
                            <div > Définition : {{ sm.screen.capacityS }}</div>
                            <div > Résolution : {{ sm.screen.resolutionS }} pixels</div>
                     </div>
            </a>
        </div>
        <div class="text-center item_carac1" style="background-image:url('PUBLIC/IMAGE/icon/memory.jpg')">
            <a href="#">
 <div  class="carac">
                    Mémoires
                    <p>----</p>
     <div > Mémoire vive : {{ sm.ramSm }} Go</div>
     <div > Mémoire interne : {{ sm.internalStSm }} Go</div>
     <div > Mémoire externe :
         {% if sm.ExternalStSm != "NULL" %}
             Oui ({{ sm.ExternalStSm }} Go MAX)
         {% else %}
             Non
         {% endif %}
     </div>
     </div>
            </a>
        </div>
        <div class="text-center item_carac1" style="background-image:url('PUBLIC/IMAGE/icon/batt.jpg')">
            <a href="#">
                <div  class="carac">
                    Dimensions et Autonomie
                    <p>----</p>
                    <div>  Poids {{ sm.weightSm }} g </div>
                    <div class="col-md-12 col-sm-4 "> Largeur : {{ sm.heightSm }} mm</div>
                    <div class="col-md-12 col-sm-4">Longueur : {{ sm.widthSm }} mm</div>
                    <div class="col-md-12 col-sm-4">&Eacute;ppaisseur : {{ sm.thinknessSm }} mm</div>
                    <div> Capacité batterie : {{ sm.batteryCSm }} mAh</div>
                </div>
            </a>
        </div>
    </div>
    </ul>
    <ul class="related-posts group" style="margin: 0;">
        <div class="smallRelated smallRelated_long" style="width: 100%">
        <div class="text-center item_carac" style="background-image:url('PUBLIC/IMAGE/icon/gpu.jpg')">
            <a href="#">
                <div class="carac">
                    Puce graphique
                    <p>---</p>
                    <div > {{ sm.gpu.constructor }} {{ sm.gpu.name }} {{ sm.gpu.version }}</div>
                    <div> Fréquence : {{ sm.gpu.frequency }} Mhz</div>
                    <div>{% if sm.gpu.gflops != '' %}
                            Flops :  {{ sm.gpu.gflops }} GFlops
                        {% else %}
                            Flops : Non renseigné
                        {% endif %}
                    </div>
                    <div> {% if sm.gpu.print != '' %}
                            Gravure :  {{ sm.gpu.print }} nanomètre
                        {% else %}
                            Gravure : Non renseigné
                        {% endif %}</div>
                    <div > {% if sm.gpu.directXV != '' %} Version DirectX :  {{ sm.gpu.directXV }} {% else %} Version DirectX : Non renseigné {% endif %}</div>
                </div>
            </a>
        </div>
            <div class="text-center item_carac" style="background-image:url('PUBLIC/IMAGE/icon/picture.jpg')">
                <a href="#">
                    <div  class="carac">
                        Appareil photo
                        <p>---</p>
                        <div>Avant : {{ sm.photoFrontSm }} Mpx </div>
                        <div>Arrière : {{ sm.photoBackSm }} Mpx </div>
                    </div>
                </a>
            </div>
        <div class="text-center item_carac" style="background-image:url('PUBLIC/IMAGE/icon/camera.jpg')">
            <a href="#">
                <div  class="carac">
                            Caméra
                    <p>---</p>
                        <div>Avant : {{ sm.videoFrontSm }} ({{ sm.resolutionVideoFrontSm }} pixels) </div>
                        <div>Arrière : {{ sm.videoBackSm }} ({{ sm.resolutionVideoBackSm }} pixels) </div>
                    </div>
            </a>
        </div>

        <div class="text-center item_carac" style="background-image:url('PUBLIC/IMAGE/icon/os.jpg')">
            <a href="#">
                <div  class="carac">
                    <div>
                        {% set icon = "" %}
                        {% if  "Android" in sm.os.name %}
                            {% set icon = "android" %}
                        {% elseif  "Windows" in sm.os.name %}
                            {% set icon = "windows" %}
                        {% elseif  "iOS" in sm.os.name %}
                            {% set icon = "apple" %}
                        {% elseif  "Ubuntu" in sm.os.name %}
                            {% set icon = "ubuntu" %}
                        {% endif %}
                        <img src="PUBLIC/IMAGE/os_logo/{{ icon }}.png" class="icon-proc " alt=""/>
                    </div>
                    Système d'exploitation
                    <p>---</p>
                        <div>{{ sm.os.constructor }} {{ sm.os.name }} {{ sm.os.version }}</div>
                        <div class="col-md-12 col-sm-12 text-center full_wd">Date de sortie
                            : {{ sm.os.releaseDate  | date('d-m-Y') }}</div>
                    </div>
            </a>
        </div>

    </div>

</ul>
{% endblock %}
    {% block silder %}

        <div class="row ">


        </div>

{%endblock%}
{% block content %}
    <div class="row animated fadeInDown">
            <div class="cd-folding-panel">

                <div class="fold-left"></div> <!-- this is the left fold -->

                <div class="fold-right"></div> <!-- this is the right fold -->

                <div class="cd-fold-content">
                    <!-- content will be loaded using javascript -->
                </div>

                <a class="cd-close" href="#0"></a>
            </div>
        </div>
    </div>
    <!-- end test -->

    <section class="showcase borderSection">
        <div class="showcase-wrap" style="padding:30px 0 ;min-height: 350px!important">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row news">
                    <div class="col-md-6">
                        <input class="inputIdSm" type="hidden" value="{{ sm.idSm }}"/>
                        <h2 class="white_font ">Notez le {{ sm.getConstructorSm.name }} {{ sm.getFullNameSm }} <i
                                    class="fa fa-mobile"></i></h2>
                        <p style="padding: 0px 20px 0px 20px;color:white;font-size: 20px;">Ce smarphone vous plaît ? Ou
                            alors il est horrible ? Exprimez-vous alors avec cette note !</p>

                        <fieldset class="rating">
                            <legend> De 1 à 5:</legend>
                            <input type="radio" class="starC" id="star5" name="rating" value="5"/><label for="star5"
                                                                                                         title="Rocks!">5
                                stars</label>
                            <input type="radio" class="starC" id="star4" name="rating" value="4"/><label for="star4"
                                                                                                         title="Pretty good">4
                                stars</label>
                            <input type="radio" class="starC" id="star3" name="rating" value="3"/><label for="star3"
                                                                                                         title="Meh">3
                                stars</label>
                            <input type="radio" class="starC" id="star2" name="rating" value="2"/><label for="star2"
                                                                                                         title="Kinda bad">2
                                stars</label>
                            <input type="radio" class="starC" id="star1" name="rating" value="1"/><label for="star1"
                                                                                                         title="Sucks big time">1
                                star</label>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <h2 class="white_font">Partager cette page sur les réseaux sociaux <i
                                    class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></h2>
                        <p style="padding: 0px 20px 0px 20px;color:white;font-size: 20px;">Donnez la possibilité à
                            d'autres personnes de connaître ce smartphone en le partageant !</p>

                        <div class=" col-md-12  " style="padding-bottom: 45px;">
                            <ul class="list-unstyled list-group text-center screenshots-new">
                                <li class=" col-md-6 list-group-item social-network-item"><i
                                            class="fa fa-facebook-square"></i> <a
                                            href="https://www.facebook.com/comparedsm?ref=hl">Facebook</a></li>


                                <li class="col-md-6 list-group-item social-network-item"><i
                                            class="fa fa-google-plus-square"></i><a
                                            href="https://plus.google.com/u/0/b/103067557431411454608/103067557431411454608/about/p/pub?sig=ALjLGbPVO-2FOKyzj29SP9oLnQAqxRw_6g">Google+</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div data-backdrop='static' data-keyboard='false' class='modal  fade ' id='modal_mark_smSpec' tabindex='-1'
         role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <div class=" row">
                        <h4 class='modal-title text-center ' id='myModalLabel'><i class="fa fa-star"></i>&nbsp;Notation
                        </h4></div>
                </div>
                <div class='modal-body text-center '>
                    Merci d'avoir noté le {{ sm.getConstructorSm.name }} {{ sm.getFullNameSm }} <i
                            class="fa fa-hand-o-left"></i> <br>
                    Retournez sur la page d'accueil pour découvrir de nouveau smartphone
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-success'
                            onClick="location.href = 'Wui.php?run=getHomePage&agrgument=void'">Retour à l'accueil
                    </button>
                    <button type='button' class='btn btn-danger' data-dismiss='modal' onClick='location.reload()'>
                        Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".starC").each(function () {
                $(this).bind('click', function () {
                    var score = $(this).val();
                    var sm = $(".inputIdSm").val();
                    console.log("aze");
                    $.ajax({
                        url: "Wui.php?run=newSmScore",
                        type: "POST",
                        data: {"sm": sm, "score": score},
                        success: function (_data) {
                            console.log(_data);
                            $("#modal_mark_smSpec").modal('show');
                        },
                        error: function (request, status, error) {
                            alert(error)
                        }
                    });
                });
            });
        });

    </script>
{% endblock %}
                                {% block follow %} {% endblock %}
                                {% block menuB %}
                                    <li class="active"><a href="Wui.php?run=getHomePage&argument=void">Accueil</a></li>
                                    <li><a href="Wui.php?run=prepareComparison&argument=void">Faire une comparaison</a>
                                    </li>
                                    <li><a href="#manufacturer">Les constructeurs</a></li>
                                    <li><a href="#articles">Articles</a></li>
                                    <li><a class="callContact">Contact</a></li>
                                    <li><a href="Wui.php?run=getLegalNotice&argument=void">Mentions Légales</a></li>
                                {% endblock %}