{% extends "viewTemplateWebsite.html.twig" %}
{% block title %}COMPARED | Fiche Technique{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/assets/css/template.css" />
{% endblock %}
{% block silder %}{% endblock %}
{%  block content %}
    <script src="/assets/js/utilities.js"></script>
    <div class="animate-box fh5co-product-2 border-best-sm">
        <div class="fh5co-half img sideleft col-md-6" >
            <img src="/assets/images/core/smartphones/normal/{{ sm.getPictureSm }}.jpg" class="img-responsive">
        </div>
        <div class="fh5co-half pahalf sideright  col-md-6">
            <h3> {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }}</h3>
            <p>Référence : {{ sm.codeNameSm }}</p>
            <p>Date de sortie : {{ sm.releaseDateSm | date('d-m-Y') }}</p>
            {% if  sm.prixSm != NULL %}
                <p> Prix : {{ sm.prixSm }} </p>
            {% endif %}
            <p>Note : <span class="score center-block">{% if moy != "/" %} {{moy}}/5 {% else %} Non noté  {%endif%} </span></p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
            <p><a href="#" class="btn btn-outline btn-md">Comparez-le</a><a href="#" class="btn btn-outline btn-md">Notez-le</a><a href="#" class="btn btn-outline btn-md">Partagez-le</a></p>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Processeur</h2>
                <div class="padd35">
                    <script>
                        var u1 = "/assets/images/core/processor_manufacturer/{{ sm.processor.constructorP | lower }}/{{ sm.processor.nameP | lower }}{{ sm.processor.versionP }}.jpg";
                        var u2 = "/assets/images/core/processor_manufacturer/{{ sm.processor.constructorP | lower }}/{{ sm.processor.nameP | lower }}.jpg";
                        tresponse(u1, u2, 'img');
                    </script>
                    <span id="img"></span>
                    <p><strong><h2>{{ sm.processor.constructorP }} {{ sm.processor.nameP }} {{ sm.processor.versionP }}</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Fréquence</strong> : {{ sm.processor.frequencyP }} Ghz</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Nombre de coeurs</strong> : {{ sm.processor.nbOfCoreP }}</div>
                    <div><strong> <i class="fa fa-arrow-right"></i> Architecture</strong> : {% if sm.processor.archP != 0 %} {{ sm.processor.archP }} bits{% else %} ARM {% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">&Eacute;cran</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/screen.png" class="img-responsive img50 center-block">
                    <p><strong><h2>{{ sm.screen.typeS }}</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Taille</strong> : {{ sm.screen.sizeS }} pouces</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Densité</strong> : {{ sm.screen.densityS }} ppp </div>
                    <div><strong><i class="fa fa-arrow-right"></i> Définition</strong> : {{ sm.screen.capacityS }}</div>
                    <div><strong> <i class="fa fa-arrow-right"></i> Résolution</strong> : {{ sm.screen.resolutionS }} pixels</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Mémoires</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/memory.png" class="img-responsive img50 center-block">
                    <p><strong><h2>RAM & Stockage</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Mémoire vive (RAM)</strong> : {{ sm.ramSm }} Go</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Mémoire interne</strong> : {{ sm.internalStSm }} Go </div>
                    <div><strong><i class="fa fa-arrow-right"></i> Mémoire externe</strong> :
                        {% if sm.ExternalStSm != "NULL" %}
                            <br>
                            Oui ({{ sm.ExternalStSm }} Go MAX)
                        {% else %}
                            Non
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Dimensions</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/size.png" class="img-responsive img50 center-block">
                    <p><strong><h2>(L, l, E)</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Largeur</strong> : {{ sm.heightSm }} mm</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Longueur</strong> : {{ sm.widthSm }} mm </div>
                    <div><strong><i class="fa fa-arrow-right"></i> &Eacute;ppaisseur</strong> : {{ sm.thinknessSm }} mm</div>
                   </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Batterie & Poids</h2>
                <div class="padd15">
                    <img src="/assets/images/core/icon/battery.png" class="img-responsive img25 center-block">
                    <br>
                    <img src="/assets/images/core/icon/weight.png" class="img-responsive img25 center-block">
                    <p><strong><h2>(Capacité, Poids)</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Capacité batterie</strong> : {{ sm.batteryCSm }} mAh</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Poids </strong> : {{ sm.weightSm }} g  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Puce graphique</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/gpu.png" class="img-responsive img50 center-block">
                    <p><strong><h2>{{ sm.gpu.constructor }} {{ sm.gpu.name }} {{ sm.gpu.version }}</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Fréquence </strong> : {{ sm.gpu.frequency }} Mhz</div>
                    {% if sm.gpu.gflops != '' %}
                    <div><strong><i class="fa fa-arrow-right"></i> Flops </strong> : {{ sm.gpu.gflops }} GFlops </div>
                    {% endif %}
                    {% if sm.gpu.print != '' %}
                        <div><strong><i class="fa fa-arrow-right"></i> Gravure </strong> :  {{ sm.gpu.print }} nanomètre</div>
                    {% else %}
                        <div><strong><i class="fa fa-arrow-right"></i> Gravure </strong> :  Non renseigné </div>
                    {% endif %}
                    <div><strong><i class="fa fa-arrow-right"></i> Version DirectX </strong> : {% if sm.gpu.directXV != '' %}  {{ sm.gpu.directXV }} {% else %} <br> Non renseigné {% endif %}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Appareil photo</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/photo.png" class="img-responsive img50 center-block">
                    <p><strong><h2>(Avant & Arrière)</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Avant </strong> : {{ sm.photoFrontSm }} Mpx</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Arrière </strong> : {{ sm.photoBackSm }} Mpx </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Caméra</h2>
                <div class="padd35">
                    <img src="/assets/images/core/icon/video.png" class="img-responsive img50 center-block">
                    <p><strong><h2>(Avant & Arrière)</h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Avant </strong> : <br> {{ sm.videoFrontSm }} ({{ sm.resolutionVideoFrontSm }} pixels)</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Arrière </strong> : <br> {{ sm.videoBackSm }} ({{ sm.resolutionVideoBackSm }} pixels) </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front text-center gradien">
                <h2 class="compared-background">Système d'exploitation</h2>
                <div class="padd35">
                    {% set icon = "" %}
                    {% if  "Android" in sm.os.name %}
                        {% set icon = "android" %}
                    {% elseif  "Windows" in sm.os.name %}
                        {% set icon = "windows" %}
                    {% elseif  "iOS" in sm.os.name %}
                        {% set icon = "apple" %}
                    {% elseif  "Ubuntu" in sm.os.name %}
                        {% set icon = "ubuntu" %}
                    {% endif %}
                    <img src="/assets/images/core/os/{{ icon }}.png" class="img-responsive img50 center-block">
                    <p><strong><h2>{{ sm.os.constructor }}  {{ sm.os.name }} </h2></strong></p>
                </div>
            </div>
            <div class="back text-center gradien blackColor">
                <h2 class="compared-background">Récapitulatif</h2>
                <div class="padd35 color_black px20Font">
                    <div><strong><i class="fa fa-arrow-right"></i> Nom complet  </strong> : <br> {{ sm.os.constructor }} {{ sm.os.name }} {{ sm.os.version }}</div>
                    <div><strong><i class="fa fa-arrow-right"></i> Date de sortie </strong> : {{ sm.os.releaseDate  | date('d-m-Y') }} </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row animate-box thishead">
        <div class="col-md-12 text-center thist"><h2>Photos</h2></div>
        <div class="col-md-12 text-center thisb"><h2>Découvrez ce smartphone sous d'autres angles</h2></div>
    </div>

    <div id="myCarousel" class="carousel nc slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner carousel-mod" role="listbox" style="height: 700px!important;">
            <div class="item active left">
                <img class="first-slide center-block" src="/assets/images/core/smartphones/extra/{{ sm.getPictureSm }}-1.jpg" alt="First slide">
            </div>
            <div class="item next left">
                <img class="second-slide center-block" src="/assets/images/core/smartphones/extra/{{ sm.getPictureSm }}-2.jpg" alt="Second slide">

            </div>
            <div class="item">
                <img class="third-slid center-block" src="/assets/images/core/smartphones/extra/{{ sm.getPictureSm }}-landscape.jpg" alt="Third slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row animate-box thishead">
        <div class="col-md-12 text-center thist"><h2>Notez-le</h2></div>
        <div class="col-md-12 text-center thisb"><h2>Notez le {{ sm.getConstructorSm.name }} {{ sm.getFullNameSm }}</h2></div>
    </div>
    <div class="row news">
        <div class="col-md-12 center-block text-center">
            <input class="inputIdSm" type="hidden" value="{{ sm.idSm }}"/>
            <fieldset class="rating">
                <legend> De 1 à 5:</legend>
                <input type="radio" class="starC" id="star5" name="rating" value="5"/><label for="star5"
                                                                                             title="Rocks!">5
                    stars</label>
                <input type="radio" class="starC" id="star4" name="rating" value="4"/><label for="star4"
                                                                                             title="Pretty good">4
                    stars</label>
                <input type="radio" class="starC" id="star3" name="rating" value="3"/><label for="star3"
                                                                                             title="Meh">3
                    stars</label>
                <input type="radio" class="starC" id="star2" name="rating" value="2"/><label for="star2"
                                                                                             title="Kinda bad">2
                    stars</label>
                <input type="radio" class="starC" id="star1" name="rating" value="1"/><label for="star1"
                                                                                             title="Sucks big time">1
                    star</label>
            </fieldset>
        </div>
    </div>

    {% block header %}
    {% endblock %}
    {% block manufacturer %}
    {% endblock %}
    {% block bestSm %}
    {% endblock %}
    {% block recentComparison %}
    {% endblock %}
    {% block articles %}
    {% endblock %}
    {% block modal %}
        <div data-backdrop='static' data-keyboard='false' class='modal  fade ' id='modal_mark_smSpec' tabindex='-1'
             role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <div class="row">
                            <h4 class='modal-title text-center ' id='myModalLabel'><i class="fa fa-star"></i>&nbsp;Notation
                            </h4></div>
                    </div>
                    <div class='modal-body text-center '>
                        Merci d'avoir noté le {{ sm.getConstructorSm.name }} {{ sm.getFullNameSm }} <i
                                class="fa fa-hand-o-left"></i> <br>
                        Retournez sur la page d'accueil pour découvrir de nouveau smartphone
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-success'
                                onClick="location.href = 'Wui.php?run=getHomePage&agrgument=void'">Retour à l'accueil
                        </button>
                        <button type='button' class='btn btn-danger' data-dismiss='modal' onClick='location.reload()'>
                            Fermer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block js %}
    {% endblock %}

{% endblock %}