{% extends "viewTemplateWebsite.html.twig" %}
{%block title %}COMPARED | Fiche Technique{%endblock%}
{%block menu %}
    <style>


        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
           follow these rules. Every browser that supports :checked also supports :not(), so
           it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
            clip:rect(0,0,0,0);
        }

        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#ddd;
            text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;
        }
    </style>
    <li class="cd-selected" data-menu="home">
        <a href="" onClick="location.href = 'Wui.php?run=getHomePage&argument=void'">
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <polyline data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="10,24.9 10,60 26,60 26,44 38,44 38,60 54,60 54,24.9 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 4,30 32,6 60,30 " stroke-linejoin="square"></polyline> <rect data-color="color-2" x="26" y="24" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="12" height="10" stroke-linejoin="square"></rect> </g></svg>
            </span>

            <em>Accueil</em>
        </a>
    </li>

    <li data-menu="compared">
        <a  onclick="location.href='Wui.php?run=prepareComparison&argument=void'" >
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"> <g transform="translate(0, 0)"> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 22,12 22,4 42,4 42,12 " stroke-linejoin="square"></polyline> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="44" y1="44" x2="20" y2="44" stroke-linejoin="square"></line> <polyline fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,44 2,44 2,12 62,12 62,44 52,44 " stroke-linejoin="square"></polyline> <polyline fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="58,44 58,60 6,60 6,44 " stroke-linejoin="square"></polyline> <rect data-color="color-2" x="22" y="22" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="20" height="10" stroke-linejoin="square"></rect> <rect data-color="color-2" x="12" y="40" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="8" height="8" stroke-linejoin="square"></rect> <rect data-color="color-2" x="44" y="40" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="8" height="8" stroke-linejoin="square"></rect> </g> </svg>
            </span>

            <em>Faire une comparaison</em>
        </a>
    </li>
    <li data-menu="manufacturer">
        <a href="#" onClick="location.href = 'Wui.php?run=getHomePage&argument=void#manufacturer'">
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"> <g transform="translate(0, 0)"> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 38,16 62,16 62,58 2,58 2,16 26,16 " stroke-linejoin="square"></polyline> <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M38,20H26V8 c0-3.3,2.7-6,6-6h0c3.3,0,6,2.7,6,6V20z" stroke-linejoin="square"></path> <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20,38L20,38 c-2.2,0-4-1.8-4-4v-2c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v2C24,36.2,22.2,38,20,38z" stroke-linejoin="square"></path> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="38" y1="36" x2="54" y2="36" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="38" y1="44" x2="48" y2="44" stroke-linejoin="square"></line> <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M30,48H10v0 c0-3.3,2.7-6,6-6h8C27.3,42,30,44.7,30,48L30,48z" stroke-linejoin="square"></path> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="32" y1="12" x2="32" y2="10" stroke-linejoin="square"></line> </g> </svg>
            </span>
            <em>Les constructeurs</em>
        </a>
    </li>

    <li data-menu="bestSm">
        <a  onclick="location.href = 'Wui.php?run=getHomePage&argument=void#bestSm'">
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="46" y1="56" x2="58" y2="44" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="24" y1="10" x2="12" y2="22" stroke-linejoin="square" stroke-linecap="butt"></line> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 19,29 6,16 18,4 31,17 " stroke-linejoin="square"></polyline> <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 45,31 58,44 60,58 46,56 33,43 " stroke-linejoin="square"></polyline> <rect x="21.1" y="2.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 31 -12.8406)" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="19.8" height="56.6" stroke-linejoin="square"></rect> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="24" y1="24" x2="30" y2="30" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="18" y1="30" x2="22" y2="34" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="36" y1="12" x2="42" y2="18" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="18" x2="34" y2="22" stroke-linejoin="square"></line> <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="36" x2="18" y2="42" stroke-linejoin="square"></line> </g></svg>
            </span>

            <em>The Best Smartphone</em>
        </a>
    </li>

    <li data-menu="articles">
        <a onclick="location.href = 'Wui.php?run=getHomePage&argument=void#articles'">
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"> <g transform="translate(0, 0)"> <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="24,40 28,48 36,48 40,40 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="24" y1="62" x2="28" y2="48" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="36" y1="48" x2="40" y2="62" stroke-linejoin="square" stroke-linecap="butt"></line> <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" d="M39.7,40H40c12.2,0,22,9.8,22,22v0H2 v0c0-12.2,9.8-22,22-22h0.3" stroke-linejoin="square" stroke-linecap="butt"></path> <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" d="M47.9,27.5C47.2,35.7,40.3,42,32,42 h0c-8.3,0-15.2-6.4-15.9-14.5" stroke-linejoin="square" stroke-linecap="butt"></path> <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M16,18c0-8.8,7.2-16,16-16 h0c8.8,0,16,7.2,16,16" stroke-linejoin="square"></path> <path data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12.1,18 c0,0.3-0.1,0.7-0.1,1c0,6.1,4.9,11,11,11c3.7,0,7-1.9,9-4.7c2,2.8,5.3,4.7,9,4.7c6.1,0,11-4.9,11-11c0-0.3,0-0.7-0.1-1H12.1z" stroke-linejoin="square"></path> </g> </svg>
            </span>

            <em>Articles</em>
        </a>
    </li>
    <li data-menu="contact">
        <a class="callContact" href="#">
            <span>
                <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64"><g transform="translate(0, 0)"> <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" points="10,18 32,36 54,18 " stroke-linejoin="square" stroke-linecap="butt"></polyline> <rect x="2" y="10" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="60" height="44" stroke-linejoin="square"></rect> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="10" y1="44" x2="18" y2="34" stroke-linejoin="square" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2" stroke-miterlimit="10" x1="54" y1="44" x2="46" y2="34" stroke-linejoin="square" stroke-linecap="butt"></line> </g></svg>
            </span>

            <em>Contact</em>
        </a>
    </li>
{%endblock%}
{%block sectionHero %} <section class="hero hero-height colorNoBg" style="background: url('PUBLIC/IMAGE/smartphones/{{ sm.pictureSm }}-landscape.jpg') no-repeat center center;background-size:cover" > {%endblock%}
    {% block silder %}
        <div class="row hero-content padding-text">
            <div class="col-md-4  col-sm-4 col-lg-4 text-center padding-text animated fadeInDownBig">
                <img src="PUBLIC/IMAGE/smartphones/{{ sm.pictureSm }}.jpg" class="text-center borderImg center-block img-resize-2 img-responsive scrollpoint  sp-effect5" alt=""/>
                <div class="mark center-block">Note : {% if moy != "/" %} {{moy}}/5 {% else %} {{moy}} {%endif%}</div>
            </div>
            <div class="col-md-8  col-sm-8 text-center font-resize padding-top-desc colorBgSm margin-top-text">
                <h2 style="font-size:30px;"> {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }}</h2>
                <h4 > Référence : {{ sm.codeNameSm }} </h4>

                <h4 >  Date de sortie : {{ sm.releaseDateSm | date('d-m-Y') }} </h4>

                {% if  sm.prixSm != NULL %}
                    <h4> Prix : {{ sm.prixSm }} </h4>

                {% endif %}
            </div>


        </div>
        <div class="row  row-mod">

            <div class="col-md-12">
                <table class="table table-responsive table-bordered table-mod ">
                    <tr class="text-center success">
                        <th><i class="fa-cpu" ></i> Processeur</th>
                        <th > &Eacute;cran</th>
                        <th > Mémoire vive</th>
                        <th > Batterie</th>
                    </tr>
                    <tr class="warning" >
                        <td>
                            {{ sm.processor.constructorP  }} {{ sm.processor.nameP  }} {{ sm.processor.versionP  }}

                            ( {{ sm.processor.nbOfCoreP  }}x{{ sm.processor.frequencyP  }}  Ghz )
                        </td>
                        <td>
                            {{ sm.screen.sizeS  }} pouces  {{ sm.screen.capacityS }} 
                        </td>
                        <td>
                            {{ sm.ramSm }} Go
                        </td>
                        <td>
                            {{ sm.batteryCSm }} mAh
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
{%endblock%}
{%block content %}
    <div class="row animated fadeInDown" >
        <div class="col-md-12"> <h2 class='text-center h2_phone'>Caractéristiques  {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }}</h2></div>
        <div class="col-md-12">
            <ul class="cd-gallery">
                <li class="cd-item">
                    <a href="#">
                        <div>
                            <h2> <img src="PUBLIC/IMAGE/icon/cpu.png" class="icon-proc " alt=""/> Processeur</h2>
                            <p>   {{ sm.processor.constructorP  }} {{ sm.processor.nameP  }} {{ sm.processor.versionP  }}</p>
                            <div class="col-md-12 col-sm-4">Fréquence : {{ sm.processor.frequencyP  }} Ghz</div>
                            <div class="col-md-12 col-sm-4">Nombre de coeurs : {{ sm.processor.nbOfCoreP  }}</div>
                            <div class="col-md-12 col-sm-4">Architecture :{% if sm.processor.archP != 0 %} {{ sm.processor.archP  }} bits{% else %} ARM {% endif %}</div>
                        </div>
                    </a>
                </li>
                <li class="cd-item">
                    <a href="#">
                        <div>
                            <h2>   <img src="PUBLIC/IMAGE/icon/screen.png" class="icon-proc " alt=""/> &Eacute;cran </h2>
                            <p>{{ sm.screen.typeS  }} </p>
                            <div class="col-md-12 col-sm-3">Taille : {{ sm.screen.sizeS  }} pouces</div>
                            <div class="col-md-12 col-sm-3"> Densité : {{ sm.screen.sizeS  }} </div>
                            <div class="col-md-12 col-sm-3"> Définition : {{ sm.screen.capacityS }}</div>
                            <div class="col-md-12 col-sm-3"> Résolution : {{ sm.screen.resolutionS }} pixels</div>
                        </div>
                    </a>
                </li>

                <li class="cd-item">
                    <a class="dark-text" href="#">
                        <div>  
                            {% set icon = "" %}
                            {%if  "Android" in sm.os.name %}
                                {% set icon = "android" %}
                            {%elseif  "Windows" in sm.os.name %}
                                {% set icon = "windows" %}
                            {%elseif  "iOS" in sm.os.name %}
                                {% set icon = "apple" %}
                            {%elseif  "Ubuntu" in sm.os.name %}
                                {% set icon = "ubuntu" %}
                            {%endif%}
                            <h2><img src="PUBLIC/IMAGE/os_logo/{{icon}}.png" class="icon-proc " alt=""/> Système d'exploitation </h2>
                            <p>{{ sm.os.constructor  }} {{ sm.os.name  }} {{ sm.os.version  }}</p>
                            <div class="col-md-12 col-sm-12 text-center full_wd">Date de sortie : {{ sm.os.releaseDate  | date('d-m-Y')}}</div>
                        </div>
                    </a>
                </li>
                <li class="cd-item">
                    <a href="#">
                        <div>
                            <h2><img src="PUBLIC/IMAGE/icon/photo.png" class="icon-proc " alt=""/> Appareil photo </h2>
                            <p>Avant : {{ sm.photoFrontSm }} Mpx </p>
                            <p>Arrière : {{ sm.photoBackSm }} Mpx </p>
                        </div>
                    </a>
                </li>
                <li class="cd-item">
                    <a href="#">
                        <div>
                            <h2> <img src="PUBLIC/IMAGE/icon/weight.jpg" class="icon-proc " alt=""/> Poids</h2>
                            <p>   {{ sm.weightSm}} g </p>
                            <div class="col-md-12 col-sm-4 "> Largeur : {{ sm.heightSm }} mm</div>
                            <div class="col-md-12 col-sm-4">Longueur : {{ sm.widthSm }} mm</div>
                            <div class="col-md-12 col-sm-4">&Eacute;ppaisseur :  {{ sm.thinknessSm }} mm</div>

                        </div>
                    </a>
                </li>
                <li class="cd-item">
                    <a href="#">
                        <div>
                            <h2>   <img src="PUBLIC/IMAGE/icon/ram.png" class="icon-proc " alt=""/> Mémoire Vive </h2>
                            <p>{{ sm.ramSm  }} Go </p>
                            <div class="col-md-12 col-sm-6 "> Mémoire interne : {{ sm.internalStSm }} Go </div>
                            <div class="col-md-12 col-sm-6"> {%if sm.ExternalStSm != "NULL" %}
                                Dispose d'un slot microSD de taille maximale  {{ sm.ExternalStSm }} Go 
                                {%else %}
                                    Mémoire extensible : Sans slot microSD
                                    {%endif%}
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="cd-item">
                            <a class="dark-text" href="#">
                                <div>  

                                    <h2> <img src="PUBLIC/IMAGE/icon/gpu.png" class="icon-gpu" style="width:10%;" alt=""/> Puce graphique </h2>
                                    <p> {{ sm.gpu.constructor  }} {{ sm.gpu.name  }} {{ sm.gpu.version  }}</p>
                                    <div class="col-md-12 col-sm-3 "> Fréquence : {{ sm.gpu.frequency  }} Mhz</div>
                                    <div class="col-md-12 col-sm-3">{%if sm.gpu.gflops != '' %}
                                        Flops :  {{ sm.gpu.gflops  }} GFlops
                                        {%else %}
                                            Flops : Non renseigné 
                                            {%endif%}
                                            </div>
                                            <div class="col-md-12 col-sm-3"> {%if sm.gpu.print != '' %}
                                                Gravure :  {{ sm.gpu.print  }} nanomètre 
                                                {%else %}
                                                    Gravure : Non renseigné 
                                                    {%endif%}</div>
                                                    <div class="col-md-12 col-sm-3"> {%if sm.gpu.directXV != '' %} Version DirectX :  {{ sm.gpu.directXV  }} {%else%} Version DirectX : Non renseigné {%endif%}</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="cd-item">
                                            <a href="#">
                                                <div>
                                                    <h2><img src="PUBLIC/IMAGE/icon/video.png" class="icon-camera " style="width:10%" alt=""/> Caméra</h2>
                                                    <p>Avant :  {{ sm.videoFrontSm }} ({{ sm.resolutionVideoFrontSm }} pixels) </p>
                                                    <p>Arrière : {{ sm.videoBackSm }} ({{ sm.resolutionVideoBackSm }} pixels) </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul> 
                                    <!-- .cd-gallery -->
                                    <!-- .cd-main -->

                                    <div class="cd-folding-panel">

                                        <div class="fold-left"></div> <!-- this is the left fold -->

                                        <div class="fold-right"></div> <!-- this is the right fold -->

                                        <div class="cd-fold-content">
                                            <!-- content will be loaded using javascript -->
                                        </div>

                                        <a class="cd-close" href="#0"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- end test -->

                            <section class="showcase borderSection">
                                <div class="showcase-wrap" style="padding:30px 0 ;min-height: 350px!important">
                                    <div class="texture-overlay"></div>
                                    <div class="container">
                                        <div class="row news">
                                            <div class="col-md-6"> 
                                                <input class="inputIdSm" type="hidden" value="{{sm.idSm}}" />
                                                <h2 class="white_font ">Notez le {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }}  <i class="fa fa-mobile"></i></h2>
                                                <p  style="padding: 0px 20px 0px 20px;color:white;font-size: 20px;">Ce smarphone vous plaît ? Ou alors il est horrible ? Exprimez-vous alors avec cette note !</p>

                                                <fieldset class="rating">
                                                    <legend> De 1 à 5:</legend>
                                                    <input type="radio" class="starC" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                                                    <input type="radio" class="starC" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                                                    <input type="radio" class="starC" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                                                    <input type="radio" class="starC" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                                                    <input type="radio" class="starC" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                                                </fieldset>                        
                                            </div>    
                                            <div class="col-md-6">                 
                                                <h2 class="white_font">Partager cette page sur les réseaux sociaux <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i></h2>
                                                <p  style="padding: 0px 20px 0px 20px;color:white;font-size: 20px;">Donnez la possibilité à d'autres personnes de connaître ce smartphone en le partageant !</p>

                                                <div class=" col-md-12  " style="padding-bottom: 45px;">
                                                    <ul class="list-unstyled list-group text-center screenshots-new">
                                                        <li class=" col-md-6 list-group-item social-network-item"><i class="fa fa-facebook-square"></i>  <a href="https://www.facebook.com/comparedsm?ref=hl">Facebook</a></li>


                                                        <li class="col-md-6 list-group-item social-network-item"><i class="fa fa-google-plus-square"></i><a href="https://plus.google.com/u/0/b/103067557431411454608/103067557431411454608/about/p/pub?sig=ALjLGbPVO-2FOKyzj29SP9oLnQAqxRw_6g">Google+</a></li>


                                                    </ul>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div data-backdrop='static' data-keyboard='false' class='modal  fade ' id='modal_mark_smSpec' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
                                <div class='modal-dialog' >
                                    <div class='modal-content'>
                                        <div class='modal-header'>
                                            <div class=" row"> 
                                                <h4 class='modal-title text-center ' id='myModalLabel'><i class="fa fa-star"></i>&nbsp;Notation</h4></div>
                                        </div>
                                        <div class='modal-body text-center '>
                                            Merci d'avoir noté le {{ sm.getConstructorSm.name}} {{ sm.getFullNameSm }} <i class="fa fa-hand-o-left"></i> <br>
                                            Retournez sur la page d'accueil pour découvrir de nouveau smartphone 
                                        </div>
                                        <div class='modal-footer'>
                                            <button type='button' class='btn btn-success' onClick="location.href = 'Wui.php?run=getHomePage&agrgument=void'">Retour à l'accueil</button>
                                            <button type='button' class='btn btn-danger' data-dismiss='modal' onClick='location.reload()' >Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $(".starC").each(function () {
                                        $(this).bind('click', function () {
                                            var score = $(this).val();
                                            var sm = $(".inputIdSm").val();
                                            console.log("aze");
                                            $.ajax({
                                                url: "Wui.php?run=newSmScore",
                                                type: "POST",
                                                data: {"sm": sm, "score": score},
                                                success: function (_data)
                                                {
                                                    console.log(_data);
                                                    $("#modal_mark_smSpec").modal('show');
                                                },
                                                error: function (request, status, error)
                                                {
                                                    alert(error)
                                                }
                                            });
                                        });
                                    });
                                });

                            </script>
                            {%endblock%}
                                {%block follow %} {%endblock%}
                                {%block menuB %}
                                    <li class="active" ><a href="Wui.php?run=getHomePage&argument=void">Accueil</a></li>
                                    <li ><a href="Wui.php?run=prepareComparison&argument=void">Faire une comparaison</a></li>
                                    <li><a href="#manufacturer">Les constructeurs</a></li>
                                    <li><a href="#articles">Articles</a></li>
                                    <li ><a class="callContact">Contact</a></li>
                                    <li><a href="Wui.php?run=getLegalNotice&argument=void">Mentions Légales</a></li>
                                {%endblock%}